<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="">
      <div class="p-6">
        <a class="inline-block" href="/">
          <h1 class="text-2xl inline-block">fromdl</h1>
        </a>
      </div>
    </div>
    <main class="p-6 prose md:prose-lg prose-slate mx-auto">
      {{content}}
    </main>
  </body>
</html>