---
layout: layouts/base.liquid
---
<a href="/">Back</a>
<div class="h-8"></div>
<div class="not-prose">
  <h2 class="text-4xl font-black tracking-tight leading-tighter">{{ title }}</h2>
  <p class="leading-10">{{ date | niceDate }}</p>
</div>
{{ content }}